* {
  margin: 0;
  padding: 0;
}
body {
  header {
    height: 100vh;
    background-color: black;
    color: white;
    .imageBannerLeft {
      float: left;
    }
    .imageBannerRight {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h2 {
        font-size: 5em;
      }
    }
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }
  .gallery {
    form {
      padding-top: 2rem;
      height: 200px;
      text-align: center;
    }
    .galleryArea {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      a {
        height: auto;
        width: calc(100%/5);
      }
      img {
        height: auto;
        width: 100%;
      }
    }
  }
}